<br ><br >
<div class="container">
	<div class="row">
		<hr >
		<div class="col-md-4 col-xs-12 center"><img src="../../../assets/footer2.png" /></div>
		<div class="col-md-4 col-xs-12 center"><img src="../../../assets/footer3.png" /></div>
		<div class="col-md-4 col-xs-12 center"><a href="http://www.findyourpark.com" target="_blank"><img src="../../../assets/footer4.png" /></a></div>
	</div>
</div>