<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<img src="../../../assets/headerColors.png" class="header-colors" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<img src="../../../assets/logo.png" />
		</div>
		<div class="col-xs-8">
			<button class="btn btn-primary right" (click)="menu()">Map / Menu</button>
			<button class="btn btn-primary right" (click)="home()">Home</button>
		</div>
	</div>
</div>