<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="green">Let's Eat on the National Mall</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img src="../../../assets/slider.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="maroon">Amazing Food Options on the National Mall in Washington D.C.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p><strong>Limited Time Offers:</strong></p>

			<p>Air and Space Museum Food Kiosk: Great Falls Grilled Chicken $9.00, Nama Spritzer (fruit drink) $4</p>

			<p>Natural History Food Kiosk: Chicken Chili with white beans and cornbread $8</p>

			<p>American History Museum Food Kiosk: $9 chicken fajita pizza, 3 varieties of craft beers for $6: DC Brau, Goose IPA, and Vienna Lager</p>

			<p>Lincoln Memorial Food Kiosk: $9 Mushroom Swiss burger, combo is $14</p>


			<p>There are nine (9) Guest Services, Inc. food kiosks on and around the National Mall and Memorial Parks in Washington D.C., all offering healthy options including vegetarian, vegan and gluten-free items (check out our GoBeFull menu at each kiosk).</p>

			<p class="maroon">Conveniently located throughout the National Mall, the following six (6) of the nine kiosks each features different specialty food items that include:</p>
			<ul>
				<li><strong>Lincoln Memorial North Food Kiosk (Open 8 a.m. - 10 p.m.):</strong> Gourmet cheese/fruit and healthy protein platters</li>
				<li><strong>Lincoln Memorial South Food Kiosk (Open 8 a.m. - 9 p.m.):</strong> Specialty burgers, cheeseburgers, boca and black bean burgers</li>
				<li><strong>The Museum of American History Food Kiosk(Open 9:30 a.m. - 6 p.m.):</strong> Artisan pizza</li>
				<li><strong>The Museum of Natural History Food Kiosk(Open 9:30 a.m. - 6 p.m.):</strong> Chicken and pulled pork BBQ (we’re famous for it)</li>
				<li><strong>The Air & Space Museum Food Kiosk (Open 9:30 a.m. - 6 p.m.):</strong> Specialty burgers including hamburgers, cheeseburgers, and black bean burgers</li>
				<li><strong>The Smithsonian Arts & Industries Building Food Kiosk(Open 9:30 a.m. - 6 p.m.):</strong> Chicken tenders, grilled chicken and chicken clubs</li>
			</ul>
			<p>Our <a routerLink="/menu">interactive map</a> of healthy dining options at the National Mall links to each kiosk’s menu.</p>
		</div>
</div>