/* You can add global styles to this file, and also import other style files */
.right {
	float: right;
}

.center {
	text-align: center;
}

img {
	max-width: 100%;
}

/* colors */
.green {
	color: #2bb885;
}

.dark-green {
	color: #0f6939;
}

.bold {
	font-weight: bold;
}

.maroon {
	color: #a34d61;
}

/* Layout */

.container {
	max-width: 720px;
}