<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="green">Let's Eat on the National Mall</h1>
			<p class="maroon">Click on each pineapple below, or text link, for a detailed menu by location</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
				<agm-marker *ngFor="let location of locations" 
					[latitude]="location.coords.latitude" 
					[longitude]="location.coords.longitude"
					[iconUrl]="iconURL"
					(markerClick)="markerClick($event, location.id)"></agm-marker>
			</agm-map>
		</div>
	</div>
	<br ><br >
	<div class="row">
		<div class="col-xs-12">
			<ul>
				<li *ngFor="let location of menuData"><a (click)="markerClick({}, location.id)">{{location.name}} ({{location.description}})</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{currentMenu.name}}</h4>
      </div>
      <div class="modal-body">
        <p><strong>{{currentMenu.description}}</strong></p>
        <!-- GoBeFull Menus -->
        <div *ngIf="currentMenu.fitPicks" class="container fitpicks">
	        <div class="row">
	        	<div class="col-xs-12">
	        		<img src="../../../assets/gobefull_top-of-kiosk-pages.png" />
	        		<p>{{currentMenu.blurb}}</p>
	        	</div>
	        </div>
	        <div class="row" *ngFor="let menu of currentMenu.fitPicks">
	        	<table class="table table-striped">
	        		<tr>
		        		<td colspan="2" class="dark-green bold">{{menu.name}}</td>
		        	</tr>
		        	<tr *ngFor="let item of menu.items">
		        		<td class="eighty">{{item.name}}</td>
		        		<td>${{item.price}}</td>
		        	</tr>
	        	</table>
	        </div>
	    </div>
        <!-- END GoBeFull Menus -->
        <h3 class="dark-green">Main Menu</h3>
        <table *ngFor="let menu of currentMenu.menuItems" class="table table-striped">
        	<tr>
        		<td colspan="2" class="dark-green bold">{{menu.name}}</td>
        	</tr>
        	<tr *ngFor="let item of menu.items">
        		<td class="eighty">{{item.name}}</td>
        		<td>${{item.price}}</td>
        	</tr>
        </table>
        <!-- Combos -->
        <div *ngIf="currentMenu.combos" class="container combos">
        	<div class="row">
        		<div class="col-xs-12">
        			<h3 class="dark-green">Combos</h3>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
        			<table class="table table-striped" *ngFor="let combo of currentMenu.combos">
        				<tr>
        					<td colspan="2" class="dark-green">{{combo.name}}</td>
        				</tr>
        				<tr>
        					<td style="width: 60%;"><p>{{combo.desc}}<br ><br >${{combo.price}}</p></td>
        					<td><img [src]="getImagePath(combo.image)" /></td>
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
        <!-- END Combos -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->