/* MAP */
agm-map {
  height: 500px;
}

tr.first-child td {
	color: #2bb885;
}

td.eighty {
	width: 80% !important;
}

.fitpicks {
	border: 1px solid #0f6939;
	border-radius: 5px;
	max-width: 100%;
}

.combos {
	max-width: 100%;
}

.fitpicks img {
	margin-top: 10px;
}

.modal-header {
    color: #fff;
    background-color: #0f6939;
}

.modal-header span {
	color: #fff;
}